.content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.content__status {
  text-align: center;
}
.content__status-value {
  font-size: 30px;
  line-height: 32px;
}
.content__status-value--offline {
  color: #dc3545;
}
.content__status-value--online {
  color: #28a745;
}